.contact-us-section {
    display: flex;
    justify-content: center;
    margin-top: 18vh;
    animation: slideDown 0.5s ease-out;
}

.contact-us-div {
    color: rgb(232, 232, 232);
}

.contact-us-div h1,
.contact-us-div p
{
    margin: 10px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 6px 8px;
}

.tables-list-item
{
    cursor: pointer;
    transition: 0.3s;
    animation: slideDown 0.5s ease-out;
}

.tables-list-item:hover {
    color: grey;
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}
