.create-reservation-section {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideDown 0.5s ease-out;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.reservation-form input {
    border: none;
    border-radius: 40px;
    margin: 8px 0;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 8px 16px;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.9);
}

.reservation-form select {
    border: none;
    border-radius: 40px;
    margin: 8px 0;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 8px 16px;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.9);
}

.reservation-form button {
    cursor: pointer;
    border: none;
    border-radius: 40px;
    margin: 8px 0;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 12px 16px;
    min-width: 160px;
    color: white;
    background-color: #027BCE;
    transition: 0.3s;
}

.reservation-form button:hover {
    color: white;
    background-color: rgba(60, 60, 59, 0.7);
}

.tables-list {
    max-width: 80vw;
    margin: 16px 0;
}

.tables-list-item {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 40px;
    margin: 8px 0;
    max-height: 40px;
    align-items: center;
    padding: 0 16px;
}

.tables-list-item div,
.tables-list-item button {
    padding: 6px 32px;
}

@media (max-width: 768px) {
    .tables-list-item div,
    .tables-list-item button {
        padding: 0 8px;
    }
    .create-reservation-section {
        margin-top: 6vh;
    }
}

.tables-heading {
    color: rgba(208, 208, 208, 0.9);
    background-color: rgba(60, 60, 59, 0.8);
    border: 1px solid rgba(208, 208, 208, 0.2);
}

.selectable:hover, .selected {
    cursor: pointer;
    color: rgba(208, 208, 208, 0.9);
    background-color: #517664;
}

.confirm-table {
    background-color: #517664;
    color: rgba(208, 208, 208, 0.9);
    border: 2px solid rgba(208, 208, 208, 0.2);
}

.confirm-table:hover {
    background-color: rgba(60, 60, 59, 0.8);
}

.scrollable {
    max-height: 40vh;
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 0;
}
