.signup-section {
    display: flex;
    justify-content: center;
    margin-top: 26vh;
    animation: slideDown 0.5s ease-out;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    border: none;
    border-radius: 40px;
    margin: 8px 0;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 8px 16px;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.9);
}

.signup-form input::-ms-fill {
    background-color: rgba(208, 208, 208, 0.9);
}

.signup-form button {
    border: none;
    border-radius: 40px;
    margin: 8px 0;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 8px 16px;
    width: 100%;
}
